Debug/
Release/
bin/
obj/
_ReSharper*/
.idea/
*.suo
*.user
*.ReSharper
*.DotSettings.user
*.nupkg
packages/
.vs
MetadataExtractor.Benchmarks/BenchmarkDotNet.Artifacts/
MetadataExtractor.Tools.FileProcessor/Properties/launchSettings.json
